html {
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  background: #262421;
  font-family: arial;
  margin: 0;
  height: 100%;
  width: 50%;
}

.img {
  width: 50px
}

.name {
  font-size: 15px;
  color: aliceblue;
}

